div .conveyer-belt:not(:first-child) {
    margin-top: 10%;
}

.conveyer-belt {
    width: 100%;
    height: 90px;
    background-color: rgb(105, 105, 105);
}

.box {
    width: 70px;
    height: 70px;
    background-color: burlywood;
    position: absolute;
}

.pickUpBox {
    width: 100%;
	height 100%;
    background-color: orange; 
}

.trucks_parking{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

#truck_form{
	left: 50%;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	margin-top: -25%;
	background: white;
	padding: 30px;
	border-radius: 25px;
	border: 2px solid black;

}
#truck_form_close_btn{
	left: 100%;
	position: sticky;
}

.truck {
	display: flex;
	flex-direction: column;
	align-content: left;
	background-color: black;
	border: 1px solid white;
 	font-size: 0;
	display: inline-block;
	padding: 10px;
	margin: 5px;
	margin-right: 20px;

}

.col {
	border: 1px solid white;
	color: red;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: orange;
}

.row {
	margin: 0px;
	padding 0px;
}

.boxVertical {
    width: 100%;
    height: 100%;
    background-color: rgb(105, 105, 105);
    position: relative;
}

.move {
    transition: 1s;
}

.layout{
    display: grid;
    grid-template-columns: 32% 4% auto;
    height: 500px; 
}
