.col {
	margin: 1px;
	color: red;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: gray;
}

.row {
	margin: 1px;
	height: 30px
}

.box {
	background-color: orange;
}

.belt {
	border-style: solid;
	padding: 5px;
	width: fit-content;
	background-color: orange;
}
